[user]
	name = MarioJC 
	email = mario.rol@gmail.com
[core]
	editor = vim
	autocrlf = input
	excludesfile = /home/mario/.gitignore_global
[color]
	ui = true
[alias]
	logg = log --oneline --graph --decorate
	st = status
	br = branch
[push]
	default = simple
