[user]
	name = MarioJC 
	email = mario.rol@gmail.com
[core]
	editor = vim
	autocrlf = input
	excludesfile = /home/mario/.gitignore_global
[color]
	ui = true
[alias]
	st = status
	br = branch -a -v
	logg = log --stat
	lg = log --oneline --graph --decorate
	last = log -1 HEAD --stat
[push]
	default = simple
